<div class="modal">
	<header>
		<h1 class="page-heading warning">The weight and dimensions are missing from an item on your order.</h1>
	</header>
	<section>
		<p>We apologize for any inconvenience.</p>

		<p class="important">Please proceed to Checkout and complete your purchase and a sales representative will contact you.</p>

		<p>If you prefer, feel free to contact us to complete your order:<br> 
			<strong>{lv_global_phone}</strong> or email <strong><a href="mailto:{lv_global_email}">{lv_global_email}</a></strong>
		</p>
		
		<p>Our hours of operation are {lv_global_hours}</p>
	</section>

	<footer>
	<label for="alert-continue"><input type="checkbox" name="alert-continue" class="alert-continue" onClick="parent.$.fancybox.close();"> Thanks, I understand. I'll continue with <strong>Checkout</strong>.</label>
	</footer>
</div>